{% extends 'main2.html' %}

{% block content %}
<style>
    div.resetform{
        display:grid;
        grid-template-rows: repeat(3 1fr);
        row-gap: 1.5rem;
        place-content: center;
        box-shadow: 2px 2px 2px 2px lightgrey;
        margin-left: 60px;
        margin-right: 60px;
        
        
    }
    div.content-box{
        display:grid;
        place-content: center;
    }
    div.message{
        margin-right: 40px;
        margin-left: 40px;
    }
</style>

<main class="resetform">
    <div class="content-box">
        
        <div class="resetform">
            <h3 style="display:grid; place-content: center;" style="margin-top: 30px;">Password reset complete</h3>
            <div class="message" style="margin-bottom: 30px;">
            <p>Your password has been set. You may go ahead and log in now.</p>
             <a href="{% url 'login' %}">LOGIN</a>
            </div>
        </div>
    </div>
</main>
{% endblock content %}