{% extends 'main2.html' %}

{% block content %}
<style>
    div.resetform{
        display:grid;
        grid-template-rows: repeat(3 1fr);
        row-gap: 1.5rem;
        place-content: center;
        box-shadow: 2px 2px 2px 2px lightgrey;
        margin-left: 60px;
        margin-right: 60px;
        
        
    }
    div.content-box{
        display:grid;
        place-content: center;
    }
    div.message{
        margin-right: 40px;
        margin-left: 40px;
    }
</style>

<main class="resetform">
    <div class="content-box">
        
        <div class="resetform">
            <h3 style="display:grid; place-content: center;" style="margin-top: 30px;">Password reset sent</h3>
            <div class="message" style="margin-bottom: 30px;">
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                <br>
                If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
            </div>
        </div>
    </div>
</main>
{% endblock content %}