{% extends 'main.html' %}
{% load static %}

{% block content %}
<main>
    <section class="team News">
        <nav class="image"><img src='{% static "images/istockphoto-521831643-612x612.jpg" %}' alt="nav"></nav>
        <nav class="content">
            <h2 >Jordan Parker</h2>
            <span>Merchandise Buyer</span>
            <p>We’re so lucky to have such a wonderful Merchandise Buyer as part
                 of our team. When Jordan Parker joined us, we knew we made a terrific decision, 
                 and their talent and dedication have proven themselves time and time again.</p>
        </nav>
    </section>
    <section class="team News">
       
        <nav class="content">
            <h2 >Kris Ward</h2>
            <span>Assistant Store Manager</span>
            <p>If you call or visit marvelous sells, chances are high you’ll meet Kris Ward, our
                 Assistant Store Manager. As an invaluable member of our staff, Kris Ward is admired for 
                 their natural talent for
                 problem-solving, creative thinking and commitment over the years.</p>
        </nav>
        <nav class="image"><img src='{% static "images/download.jpeg" %}' alt="nav"></nav>
    </section>
    <section class="team News">
        <nav class="image"><img src='{% static "images/photo-1631947430066-48c30d57b943.jpeg" %}' alt="nav"></nav>
        <nav class="content">
            <h2 >Taylor Quill</h2>
            <span>Quality Assurance Manager</span>
            <p>After adding Taylor Quill to the staff as our new Quality Assurance Manager, it really felt like our 
                team took a giant leap forward. Not only do they excel at their personal responsibilities but
                 they also serve as a great example for our less experienced employees.</p>
        </nav>
    </section>
    

 </main>
{% endblock %}